global
  user haproxy
  group haproxy
  maxconn 4096

defaults
  mode tcp
  timeout connect 120s
  timeout client  2m
  timeout server  2m

frontend mc
  bind *:25565
  default_backend mc_backend

backend mc_backend
  retries 30
  retry-on conn-failure empty-response timeout-retry
  default-server inter 1s fall 1 rise 1
  server s1 ${MC_HOST}:${MC_PORT}
